html, body { 
    margin:0; 
    padding:0; 
    height:100%; 
  }
body::before {
    background-image: url("../images/background.jpeg");
    z-index: -2;
    content: "";
    position: fixed; 
    opacity: 0.8;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
 body {
    display: flex; 
    flex-direction: column;
    min-height: 100%;
  }
  .jumbotron {
      font-weight: bold;
      text-align: center;
  }
  